html,body{
    height: 100%;
}
body{
    margin:0;
    width: 100%;
    background-color:#000000;
    height: 100%;
    position: relative;
    -webkit-transition: background-position 10s ease-in-out;
    -o-transition: background-position 10s ease-in-out;
    transition: background-position 10s ease-in-out;
  background: rgba(0, 0, 0, 0.904) url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  -webkit-animation: bg-animation .2s infinite;
          animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}
main{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
}
main > div{
    --b: 2px;   /* thickness of the border */
    --c: rgba(226, 226, 226, 0.411);   /* color of the border */
    --w: 100px;  /* width of border */
    
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      /* conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p), */
      /* conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p), */
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
    
    /*Irrelevant code*/  
    width:100%;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    margin:70px;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: margin 1s ease-in-out;
    -o-transition: margin 1s ease-in-out;
    transition: margin 1s ease-in-out;
    
  }
.name{
    margin-left: 20px;
    font-weight: 100;
}
.name>h1{
    color: rgba(255, 255, 255, 0.911);
    font-size: 4rem;
    margin-top:0;
    font-family: regular-h1;
    margin-bottom: 0;
    font-weight: lighter;
}
.name>h2{
    margin-top: 0;
}
.name>h2>a{
    color: rgba(240, 240, 240, 0.719);
    font-size: 1rem;
    font-family: regular-h1;
    margin-top: 0;
    font-weight: lighter;
    text-decoration: none;
}
.navbar{
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
}
.icons{
    bottom:0;
    position:absolute;
    right:0;
}
.icons>ul>li{
    list-style-type: none;
    line-height: 30px;
    font-family: regular-h1;
    color: rgba(240, 240, 240, 0.39);
    font-size: 1rem;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}
.icons>ul>li:hover{
    color: rgb(240, 240, 240);
}
.info{
    position: absolute;
    width: 600px;
    font-size: 0.8rem;
    color: rgba(240, 240, 240, 0.623);
    margin-left: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
}
#info{
    
    opacity: 0;
    font-family: regular-h1;
    display: none;
    font-weight: lighter;
}

.contact{
    position:absolute;
    margin-left: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    display: none;
}
.contact>h2>a{
    text-decoration: none;
    color: rgba(240, 240, 240, 0.623);
    font-family: regular-h1;
    font-weight: lighter;
}
.contact>h2>a{
    margin-left: 10px;
}
.contact>h2>img{
    width: 30px;
   
}
canvas{
    position: absolute;
    opacity: .1;
}
.projects{
    position: absolute;
    display: none;
    z-index: 99999;
}
.projects>ul>li{
    list-style-type: none;
}
.projects>ul>li>a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    line-height: 50px;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
@font-face {
    font-family: Dosis;
    src: url('Dosis-Bold.ttf');
}
@font-face {
    font-family: Rammetto;
    src: url('RammettoOne-Regular.ttf');
}
.projects>ul>li:nth-child(1){
    font-family: Rammetto;
    font-weight: 700;
    font-size: 2rem;

}
.projects>ul>li:nth-child(2){
    font-family: Dosis;
    font-weight: 700;
    font-size: 2rem;

}

.projects>ul>li>a:hover{
    color: #ffffff54;
}
@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  @font-face {
    font-family: regular-h1;
    src: url('RobotoMono-ExtraLight.ttf');
  }
@-webkit-keyframes bg-animation {
    0% { background-position: 0,0 }
    10% { background-position: -5%,-5% }
    20% { background-position: -10%,5% }
    30% { background-position: 5%,-10% }
    40% { background-position: -5%,15% }
    50% { background-position: -10%,5% }
    60% { background-position: 15%,0 }
    70% { background-position: 0,10% }
    80% { background-position: -15%,0 }
    90% { background-position: 10%,5% }
    100% { background-position: 5%,0 }
}
@keyframes bg-animation {
    0% { background-position: 0,0 }
    10% { background-position: -5%,-5% }
    20% { background-position: -10%,5% }
    30% { background-position: 5%,-10% }
    40% { background-position: -5%,15% }
    50% { background-position: -10%,5% }
    60% { background-position: 15%,0 }
    70% { background-position: 0,10% }
    80% { background-position: -15%,0 }
    90% { background-position: 10%,5% }
    100% { background-position: 5%,0 }
}

@media screen and (max-width: 1200px) {
    .icons>ul>li{
        display: inline;
        margin-right: 15px;
    }
}
@media screen and (max-width: 1150px) {
    .contact>h2>img{
        width: 20px;
       
    }
    .contact>h2>a{
        font-size: 1rem;
    }
}
@media screen and (max-width: 1100px) {
    .info{
        font-size: .6rem;
        width: 90%;
    }
}
@media screen and (max-width: 770px) {
    .name>h1{
        font-size: 3rem;
    }
}
@media screen and (max-width: 610px) {
    .icons>ul>li{
        display: block;
        margin-right: 20px;
    }
}
@media screen and (max-width: 570px) {
    .info{
        font-size: .5rem;
    }
    .contact>h2>a{
        font-size: .9rem;
    }
    .icons>ul>li{
        line-height: 40px;
        font-size: 1.5rem;
    }
    .info{
        font-size: .65rem;
    }
    main>div{
        padding: 8px;
    }
}
@media screen and (max-width: 500px) {
    .info{
        height: 50%;
        overflow-x: auto;
    }
}
@media screen and (max-width: 480px) {
    main > div{
        padding: 10px;
    }
    .projects>ul>li>a{
        font-size: 1.5rem;
    
    }
}
